<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Lesson</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Delete Lesson</h1>
    <form action="{% url 'delete_lesson' lesson_id %}" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete this lesson?</p>
        <input type="submit" value="Delete Lesson" class="button">
    </form>
    <div class="center">
        <a href="{% url 'list_lessons' %}" class="button">Back to Lesson List</a>
    </div>
</body>
</html>
